#scroll-pane {
    -fx-alignment: CENTER;
}

#anchor-pane {
    -fx-alignment: CENTER;
}

#container-elements {
    -fx-alignment: CENTER;
    -fx-pref-height: 640;
    -fx-pref-width: 640;
}

.button {
    -fx-cursor: HAND;
}