* {
    -fx-size-for-fields: 260;
}

. root {
    -fx-padding: 20;
    -fx-spacing: 18;
    -fx-alignment: CENTER-LEFT;
    -fx-pref-height: 400;
    -fx-pref-width: 300;
}

#horizontal-pane {
    -fx-spacing: 40;
    -fx-alignment: CENTER;
}

#subtitle-label {
    -fx-font: 11pt 'Times New Roman';
}

.text-field {
    -fx-max-width: -fx-size-for-fields;
}

#title-label {
    -fx-font: italic 20pt 'Times New Roman';
    -fx-translate-x: 65;
}

.date-picker {
    -fx-max-width: -fx-size-for-fields;
}

.choice-box {
    -fx-max-width: -fx-size-for-fields;
}

.button {
    -fx-cursor: HAND;
}
